@if(layout() === 'user'){
<nav class="navbar navbar-expand-lg main-bg">
  <div class="container">
    <h1 class="navbar-brand">MyNote</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <app-submit-button text="Signout" (click)="logout()" />
        </li>
      </ul>
    </div>
  </div>
</nav>
} @else {
<nav class="navbar main-bg">
  <div class="container">
    <h1 class="navbar-brand cr-pointer" routerLink="login">MyNote</h1>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" routerLink="register" routerLinkActive="d-none">
        <app-submit-button text="Register" />
      </li>
      <li class="nav-item" routerLink="login" routerLinkActive="d-none">
        <app-submit-button text="Login" />
      </li>
    </ul>
  </div>
</nav>
}
