<div class="container">
  <button
    class="mt-4 btn btn-primary d-block mx-auto"
    data-bs-toggle="modal"
    data-bs-target="#addNote"
  >
    Add Note
  </button>
  <div class="row mt-4 row-cols-1 row-cols-md-3 row-cols-lg-4 g-3">
    @for (note of notesData; track note._id) {
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">
            {{ note.content }}
          </p>
          <div
            class="d-sm-flex justify-content-center align-items-center gap-3"
          >
            <button
              class="btn btn-outline-danger w-100"
              [swal]="{
                title: 'Are you sure!',
                showCancelButton: true,
              }"
              (confirm)="deleteNote(note._id)"
            >
              Delete
            </button>
            <button
              class="btn btn-outline-warning w-100 mt-3 mt-sm-0"
              (click)="getNoteData(note._id, note.title, note.content)"
              data-bs-toggle="modal"
              data-bs-target="#updateNote"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addNote"
  tabindex="-1"
  aria-labelledby="addNoteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addNoteLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clearForm(addForm)"
        ></button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="addNote()">
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="title"
              placeholder="title"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="content"
              formControlName="content"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="clearForm(addForm)"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [attr.data-bs-dismiss]="addForm.valid ? 'modal' : ''"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update Modal -->
<div
  class="modal fade"
  id="updateNote"
  tabindex="-1"
  aria-labelledby="updateNoteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateNoteLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              formControlName="title"
              placeholder="title"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="content"
              formControlName="content"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [attr.data-bs-dismiss]="updateForm.valid ? 'modal' : ''"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
