.masonry-grid-item {
  width: 30%; /* Adjust for desktop */
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .masonry-grid-item {
    width: 45%; /* Adjust for tablets */
  }
}

@media (max-width: 768px) {
  .masonry-grid-item {
    width: 100%; /* Adjust for mobile phones */
  }
}
.card {
  padding: 1rem;
  background-color: var(--main-white);
  color: #595550;
  font-weight: bold;
}
.masonry-grid:empty {
  height: auto !important;
}
.empty-content {
  display: block;
  position: relative;
  height: auto;
  text-align: center;
}
.empty-content h3 {
  color: #403b36;
  font-size: 1.5rem;
}
.empty-content p {
  color: #595550;
}
