<section class="py-3">
  <div class="container">
    <div class="masonry-grid">
      @for (note of notesData(); track note._id) {
      <div class="masonry-grid-item">
        <div
          class="card border-0"
          (click)="getNoteData(note._id, note.title, note.content)"
          data-bs-toggle="modal"
          data-bs-target="#updateNote"
        >
          <div class="card-body">
            <h4 class="card-title bold">{{ note.title }}</h4>
            <p class="card-text">
              {{ note.content }}
            </p>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="col-md-8 col-lg-4 mx-auto mt-3">
      <app-submit-button
        text="Create A Note"
        data-bs-toggle="modal"
        data-bs-target="#addNote"
      />
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="addNote"
  tabindex="-1"
  aria-labelledby="addNoteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-main">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addNoteLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="clearForm(addForm)"
        ></button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="addNote()">
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="form-control main-input"
              formControlName="title"
              placeholder="title"
            />
          </div>
          <div class="mb-3">
            <textarea
              type="text"
              class="form-control main-input"
              placeholder="content"
              formControlName="content"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <app-submit-button
            text="Close"
            data-bs-dismiss="modal"
            (click)="clearForm(addForm)"
            type="button"
          />
          <app-submit-button
            text="Save New Note"
            type="submit"
            [attr.data-bs-dismiss]="addForm.valid ? 'modal' : ''"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update Modal -->
<div
  class="modal fade"
  id="updateNote"
  tabindex="-1"
  aria-labelledby="updateNoteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-main">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateNoteLabel">Edit Your Note</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="submitUpdate()">
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="main-input form-control"
              formControlName="title"
              placeholder="title"
            />
          </div>
          <div class="mb-3">
            <textarea
              type="text"
              class="form-control main-input"
              placeholder="content"
              formControlName="content"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <app-submit-button
            type="button"
            data-bs-dismiss="modal"
            text="Close"
          />
          <app-submit-button
            type="submit"
            text="Save Changes"
            [attr.data-bs-dismiss]="updateForm.valid ? 'modal' : ''"
          />
          <app-submit-button
            data-bs-dismiss="modal"
            (click)="clearForm(addForm)"
            type="button"
            text="Delete"
            [swal]="deleteSwal"
            (confirm)="deleteNote()"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<swal
  #deleteSwal
  title="Delete {{ noteTitle() }}?"
  text="This cannot be undone"
  icon="question"
  [showCancelButton]="true"
  (confirm)="deleteNote()"
  [focusCancel]="true"
>
</swal>
